<?php
$config['enabled'] = true;

$config['debug'] = false;

if ($config['debug']) {
  error_reporting(E_ALL);
} else {
  error_reporting(0);
}

// Recipient addresses that appear above the separator line
// in the drop-down
$primary_recipients = array();
$primary_recipients[] = array('wichtige Person',
                              'kontakt@example.org');

$secondary_recipients = array();
$secondary_recipients[] = array('Wichtige Personengruppe',
                                array('foo@example.org',
                                      'bar@example.org',
                                      'quuz@example.org'));

// The maximum number of messages to send in an hour
$config['ratelimit'] = 20;
// When set to true, old cache files aren't deleted. This can be used
// for quantitative usage tracking.
$config['keep_caches'] = false;

// Maximum number of characters in user-sent messages
// Use only plain integers
$config['max_length'] = 25000;

$config['mail_from'] = 'Anonymous Feedback <noreply@example.org>';
$config['mail_reply_to'] = $config['mail_from'];
$config['mail_subject'] = 'Anonymous Feedback';
$config['mail_prefix'] = '';
// Set to true to don't actually send mails
$config['mail_pretend'] = false;

$recaptcha_public_key = '';
$recaptcha_private_key = '';
